.container {
    text-align: center; /* テキストボックスを中央に寄せる */
    margin-top: 50px;
}

table {
    margin: 0 auto; /* テーブルを中央に寄せる */
    border-collapse: collapse;
}

input[type="number"] {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(50% - 2px); /* 横幅を2倍にして、セルの間の余白はなし */
    max-width: 5em; /* 最大幅を5桁に制限 */
}



button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p#result {
    font-size: 18px;
    margin-top: 20px;
}
